
<!-- HTML5 يخبر المتصفح أن هذا المستند اصدار -->
<!DOCTYPE html>
<html lang="en">

<!-- يحتوي على معلومات الصفحة التي لا تظهر للمستخدم (فقط عنوان "التبويب" فوق) 
   نضع هنا الشكل الالوان والحجم.. الاسماء و غيرها لن تظهر من هنا -->
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>

<!-- هنا يوضع كل شيء يراه المستخدم -->
<body>
    <h1>Welcome to My Flask App</h1>                          <!-- عنوان كبير -->
    <p>This is a simple web application built with Flask.</p>  <!-- فقرة نصية -->
</body>
</html>





